.content {
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* border: 2px solid violet; */
    margin-top: 4rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.playerContainer {
    display: flex;
}

.borderRight {
    border-right: 0.25rem solid rgba(247, 245, 243, 0.308);
}

.player {
    width: 20vw;
    font-weight: bold;
    color: white;
    float: right;
}

.player input {
    display: inline;
    height: 3rem;
    width: 9rem;
    background-color: transparent;
    font-size: 1.5rem;
    line-height: 2;
    border-radius: 10px;
    outline: 1px solid rgba(169, 150, 150, 0.514);
    border: 1px solid transparent;
    font-weight: 900;
    padding-left: 1rem;
}

.player input:focus {
    outline: 1px solid transparent;
    border: 1px solid white;
}

.winX,
.playerX {
    color: rgb(247, 67, 2);
}

.winO,
.playerO {
    color: rgb(0, 128, 0);
}

.winDraw {
    color: rgb(210, 156, 30);
}

.player p {
    font-size: 1.2rem;
    color: rgb(13, 91, 122);
}

.player p span {
    font-size: 1.2em;
    color: white;
}

.winnerView {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    /* width: 30vw; */
    /* background-color: rgba(231, 176, 109, 0.322); */
    border-radius: 1rem;
    text-shadow: 0px 0px 4px rgba(250, 247, 247, 0.742);
    font-size: 3rem;
    font-weight: 900;
    padding: 3rem 1rem;
    margin-top: 2rem;
}

.winnerName {
    text-align: center;
    box-shadow: 0 0 10px transparent;
}